input {
    width: 93px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 125px;
    margin: auto;
    border: 1px solid black;
}

#displayScreen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 125px;
}

#numBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75px;
}

#opBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50px;
}

.number {
    width: 25px;
    height: 25px;
}

.operator {
    width: 25px;
    height: 38px;
}

.equal {
    width: 125px;
}